/* 文档流 normal flow */
    /*  网页是多层结构，通过CSS可以为每一层设置样式
        用户只能看到顶层，而底层称为文档流，是网页的基础
        
        创建的元素分为2种状态：
            - 在文档流中
            - 脱离文档流

        元素在文档流中的特点：（脱离了文档流不是这样！
            块元素：
                - 默认宽度是父元素的宽度
                - 默认高度是内容的高度（子元素）

            行内元素：
                - 不会独占页面一行，只占自身大小
                - 默认宽度和默认高度都是根据内容决定
    */



/* 盒子模型(box model) */
    /* box-sizing 属性:
    content-box : 设置的width和height直接作用于content
    border-box :  设置的width和height作用于整个box, content的大小变为auto    */
    


    /* CSS将页面中所有元素设为一个矩形盒子，每个盒子由以下部分组成
    1. 内容区(content)
        元素中的所有子元素和文本内容都在内容区中排列
        width   设置宽度
        height  设置高度
    
    2. 边框(border)
        属于盒子的边缘，边框内是盒子内部，边框外是盒子外部
        border-width    边框宽度
        border-color    边框颜色
        border-style    边框样式
            solid   表示实线
            dotted  点状虚线
            dashed  虚线
            double  双线
        边框也可以逐条写：
            border-top/bottom/left/right
            
        border-radius   边框圆角
        可以单独设置一个角:
            一个值设置圆角的半径大小, 两个值设置椭圆(水平半径 垂直半径)
            border-top-left-radius:
            border-top-right-radius:
            border-bottom-left-radius:
            border-bottom-right-radius:
        
        直接设置:
            一个值: 全部一样
            两个值:
            
            左上/右下 右上/左下
            三个值: 左上 右上/左下 右下
            四个值: 左上 右上 右下 左下
            (如果要设置椭圆,2个半径需要以斜杠相隔 如10px/20px)
            
            
        outline     轮廓线
            设置轮廓线,用法和border一样, 但是不会影响盒子内容区的布局位置!
            .box:hover{
                outline: 10px yellow solid;
            }
        box-shadow  阴影
            设置阴影, 也不会影响页面布局
            第一个值: 水平偏移量 正值向右 负值向左
            第二个值: 垂直偏移量 正值向下 负值向上
            第三个值: 模糊半径   越大越糊 (可选值)
            第四个值: 颜色, 一般采用rgba(x, x, x, .x)
    
     3. 内边距(padding)
        内容区和边框区之间的距离是内边距
            padding-top/bottom/left/right
        设置后会影响盒子的大小，背景颜色会从内容区延伸到内边距上

    4. 外边距(margin)
        不会影响盒子可见框的大小 只会影响盒子的位置
        - margin-top
            本盒子往下移动
        - margin-left
            本盒子往右移动
        - margin-bottom
            使下方的盒子往下移动    
        - margin-right
            默认情况下不会产生效果

        相邻的 垂直外边距 会发生重叠现象 {
            1.兄弟元素：
                相邻外边距会取"绝对值较大值者"
                如果一正一负，则取2者之和
            2. 父子元素：
                父子元素相邻外边距，子元素会传递给父元素（上外边距）
        }
        */

    /* 宽度可以设置为负值~ */
.box1{
    width: 200px;
    height: 200px;
    background-color:#fba;

    border:10px #aaa solid;
    /* 等效于一下3句：
    border-width: 10px;
    border-color: #aaa;
    border-style: solid; 
    */

    padding: 20px;
    margin: 10px;
    
}
.inbox1{
    width: 100%;
    height: 100%;
    background-color: rgb(242, 255, 127);
}




/* 盒子的水平布局 */
    /* 
        "inner的横向所有宽度只和" 必须等于 "outer的内容区的宽度"
        margin-left / width / margin-right 可以设置为auto
            - 如果"没有设置auto"且"等式不满足"则默认让margin-right是auto
            - 如果"多个值都是auto"则会全部分配给width
            - 如果"左右都是auto"则会让width居中
    */
.outer{
    width: 400px;
    height: 200px;
    border: 10px yellowgreen solid;
    margin:10px;
    background-color: aliceblue;
}
.inner{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin-left: 100px;
}



/* 盒子的垂直局部 */
    /* 处理溢出的子元素：
        使用overflow:来设置父元素如何处理溢出的子元素
            - visible   默认值
            - hidden    裁减掉溢出的部分
            - scroll    生成2个滚动条
            - auto      根据需要生成滚动条
        另外还有单独设置的：
        - overflow-x:
        - overflow-y:
    */
.outer2{
    background-color: #abf;
    border: 10px #abf solid;
    width: 200px;
    height: 200px;
    overflow: auto;
}
.inner2{
    width: 180px;
    height: 400px;
    margin-bottom: 50px;
    background-color: #fba;
}



/* 行内元素 */
    /* 
    行内元素的盒模型
        - 不支持设置宽度和高度
        - 可以设置padding/border/margin，但是不会影响页面的布局
        - 水平margin不会重叠
    超链接<a>是行内元素，如果需要设置宽高，需要使用 display:
        - inline        设置为行内元素
        - block         设置为块元素
        - inline-block  设置为混合体：既不独占，又可以设置大小（尽量别用
        - table         设置为一个表格
        - none          隐藏元素，一般用来设置下拉菜单
    另外补充 visibility:
        - visible   默认值，显示元素
        - hidden    设置不可见，但仍然占据位置
    */
.s1{
    width: 20px;
    height: 20px;
    background-color: aqua;
    padding: 10px;
    visibility: hidden;
}



